admins = [
]

[mysql]
host = "127.0.0.1"
port = "3306"
username = "root"
password = "root"
database = "today"

[web]
bind = ":9091"

[bleve]
address = "./logs/bleve/index"

[app]
dir = "../app/build"
