@import "./variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";

// stylelint-disable selector-max-type
// Make sure the page takes at least all the height
html {
  height: 100%;
}

body {
  min-height: 100%;
}

// Re-style the code tag, used in the markdown
// @TODO: add a class in the Markdown component
//        to remove this block
code {
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}
// stylelint-enable

// Space below the navbar
.TodayNavbar {
  margin-bottom: 1rem;
}

// Flex related classes
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-items-center {
  align-items: center;
}

.flex-align-center {
  justify-content: center;
  align-items: center;
}

.flex-align-right {
  justify-content: flex-end;
}

// Color related classes
.fg-white {
  color: $white !important;
}

// Customize inputs
.Input {
  border: 0;
  border-bottom: 1px solid $input-border-color;

  &:focus {
    border-color: theme-color("primary");
    outline: none;
  }
}

.btn.btn-icon,
.btn.btn-no-padding {
  padding: 0;
}

.btn-spinner {
  margin-left: 0.3rem;
}
