@import "src/style/variables.scss";

.react-autowhatever__container {
  position: relative;
}

.TextareaContainer {
  z-index: 1000;

  background: $card-bg;

  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;

  .react-autowhatever__items-list {
    padding-left: 0;

    margin-bottom: 0;

    list-style: none;
  }

  .react-autowhatever__item:not(:last-child) {
    border-bottom: 1px solid $card-border-color;
  }

  .Textarea__Item {
    padding: 0.4rem;
    cursor: pointer;

    &--selected {
      color: $card-bg;
      background: theme-color("primary");
    }
  }
}

.Textarea__Content {
  width: 100%;
}
