@import "src/style/variables.scss";

.NavBar__AppName {
  margin-bottom: 0;

  .TodayLogo {
    margin-right: 0.2rem;
  }
}

.GithubLogo {
  width: 24px;
  height: 24px;

  color: $white;

  .GithubLink {
    color: $white;
    opacity: 0.6;

    &:hover {
      color: $white;
      opacity: 1;
    }

    > .svg-inline--fa.fa-w-16 {
      width: 100%;
      height: 100%;
    }
  }
}
