@import "src/style/variables.scss";

.SearchBar {
  display: flex;
  align-items: center;

  width: 100%;

  padding: 0.3rem;

  background: $white;

  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;

  .fa-search {
    margin-right: 0.2rem;

    color: theme-color("primary");
  }

  &:focus-within {
    box-shadow: 0 0 2px 1px theme-color("primary");
  }
}

.SearchBar__input {
  flex: 1;

  border: 0;

  &:focus {
    outline: none;
  }
}
