@import "src/style/variables.scss";
@import "node_modules/bootstrap/scss/mixins.scss";

.TodayReference {
  margin-bottom: 1rem;

  &--hover {
    background: $body-bg;

    @include border-radius($card-border-radius);
  }

  &.TodayReference__Errored {
    color: theme-color("danger");
  }
}

.TodayReference__Icon {
  margin-right: 0.5rem;
}
