@import 'src/style/variables.scss';

.LogItemEditing {
    margin: 1rem 0;

    .card-body {
        padding: 0;
        padding-top: 0.3rem;
    }
}

.LogItemEditing__Content {
    position: relative;
}

.LogItemEditing__UpdateActions .btn {
    margin-left: 0.5rem;
}
