@import "src/style/variables.scss";

p:last-child {
  margin-bottom: 0;
}

pre code {
  display: block !important;
}

.TodayTag {
  background: theme-color("primary");
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
}
