@import "src/style/variables.scss";

// stylelint-disable selector-max-type
p:last-child {
  margin-bottom: 0;
}

pre code {
  display: block !important;
}
// stylelint-enable

.TodayTag {
  padding: 0.1rem 0.3rem;

  font-size: 0.85rem;
  font-weight: 500;
  color: $white;
  background: theme-color("primary");

  border-radius: 0.3rem;
}
